{% extends "base.html.twig" %}

{% block title %}Card deck{% endblock %}

{% block content %}



<ul>
    {% for card in deck_list %}
        <li>{{ card }}</li>
    {% endfor %}
</ul>



{% endblock %}
