<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="">
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>

        <div class="siteheader">
            MVC
        </div>

        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="{{ url("home") }}">Home</a></li>
                    <li><a href="{{ url("about") }}">About</a></li>
                    <li><a href="{{ url("report") }}">Report</a></li>

                </ul>
            </nav>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="sitefooter">
            <p>
                Alexis Norberg<br>
                <a href="mailto:alnb21@bth.se">alnb21@bth.se</a>
            </p>
            <p>
                gitrepo
            </p>
            <p>
                &copy;
            </p>
        </div>
    </body>
</html>
