{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}

{# <li><a href="{{ url("form-search") }}">Deck</a></li> #}
<li><a href="{{ url("card-deck") }}">Deck</a></li>
<li><a href="{{ url("shuffle-deck") }}">Deck shuffle</a></li>
<li><a href="{{ url("draw-card") }}">Deck draw</a></li>



{% endblock %}
