{% extends "base.html.twig" %}

{% block title %}Form{% endblock %}

{% block content %}


<li><a href="{{ url("form-search") }}">Search</a></li>
<li><a href="{{ url("form-login") }}">Login</a></li>
<li><a href="{{ url("form-session") }}">Session</a></li>



{% endblock %}
