{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Home</h1>

<img class="logo-me" src="img/alexis.jpg" width="200px" alt="alexis">

<p>
    Mitt namn är Alexis Norberg och jag är född i Spanien men uppväxt i Uddevalla norr om Göteborg. Under min uppväxt
    har jag spelat både fotboll och handboll men runt tonåren föll valet på fotbollen som gjorde att jag läste på ett
    fotbollsgymnasium. Efter studenten blev det några års arbete innan jag flyttade till Spanien för att studera spanska
    och "leva livet" tillsammans med min sambo. Efter perioden i Spanien återvände vi till Stockholm för att både jobba
    och studera.
</p>
<p>
    Jag har arbetat med allt mellan telefonförsäljning, lagerarbete, butiksbiträde, tryckare, försäljning och lättare
    hemsideprogrammering i bl.a. WordPress. 2017 utbildade jag mig till pilot och hann jobba ett par år hos SAS som
    styrman innan corona slog till. Följderna av stängda gränser och en extrem smittspridning ledde till att SAS sa upp
    över 500 piloter runt årsskiftet 20/21.
</p>
<p>
    Med en rätt oviss framtid gällande pilot-yrket och tills återanställningarna börjar ta fart igen så känns det bra
    att kunna fylla tiden med nya kunskaper. Vem vet, i framtiden kanske jag skulle kunna kombinera flygandet med
    webbprogrammering?
</p>

{% endblock %}